<aside class="bg-dark">
    <div class="container d-flex justify-content-center text-center">
        <div class="call-to-action">
            <h2>Need a code?</h2>
            <p>The early bird gets the worm, solve the puzzle and you'll get your code in turn...</p>
            <a href="https://davidkmarzagao.github.io/puzzled/img/Puzzles/promocode.png" download="EarlyBirdPuzzle.png" class="btn btn-default btn-xl wow tada mb-4">
                Download Image
            </a>
            <br>           
            <img src="https://davidkmarzagao.github.io/puzzled/img/Puzzles/promocode.png" class="img-responsive center-image" alt="EarlyBirdPuzzle">
        </div>
    </div>
</aside>
