  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Need a code?</h2>
              <p>The early bird gets the worm, solve the puzzle and you'll get your code in turn...</p>
              <a href="https://davidkmarzagao.github.io/puzzled/img/Puzzles/promocode.png" download="EarlyBirdPuzzle.png" class="btn btn-default btn-xl wow tada">
                Download Image
            </a>
            <img src="img/portfolio/Puzzles/promocode.png" class="img-responsive" alt="">
          </div>
      </div>
  </aside>
