<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Welcome to Puzzled 2024!</h2>
                <hr class="light">
                <p class="text-faded">We're back for another year of puzzle solving, team building and exploration! Join your fellow students to solve challenges, make friends and win prizes!</p>
                <a href="https://www.eventbrite.co.uk/e/puzzled-2024-tickets-947830184597" class="btn btn-default btn-xl">Reserve your spot now!</a>
            </div>
        </div>
    </div>
</section>
