<header>
    <div class="header-content">
        <div class="header-content-inner text-center">
            <!-- <h1>Puzzled 2024</h1> -->
            <img src="https://davidkmarzagao.github.io/puzzled/img/IMG_3232.png" class="img-responsive center-align" alt="Puzzled2024Logo.png" style="width: 70%; height: auto; display: block; margin: 0 auto;">
            <hr>
            <p>King's College London is back again for another year of Puzzled! Fancy solving mysteries and discovering secrets? Well you're in the perfect place! Join us this September for Puzzled 2024, details are below!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
