<section class="no-padding" id="puzzles">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/initiation.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Initiation
                            </div>
                            <div class="project-name">
                                A gathering of student detectives awaiting their mission ...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/portfolio/secret_meeting.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Secret Meeting
                            </div>
                            <div class="project-name">
                                Being briefed about the agenda and the fun rules!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div  class="portfolio-box">
                    <img src="img/portfolio/assembling.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Avengers Assembling
                            </div>
                            <div class="project-name">
                                Finding your team that'll lead you to victory
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div  class="portfolio-box">
                    <img src="img/portfolio/solving.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Solving Puzzles
                            </div>
                            <div class="project-name">
                                Hard at work gathering points!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div  class="portfolio-box">
                    <img src="img/portfolio/headquarter.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                The Headquarter
                            </div>
                            <div class="project-name">
                                Where your solutions will be reviewed and hints given
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div  class="portfolio-box">
                    <img src="img/portfolio/final.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Finale
                            </div>
                            <div class="project-name">
                                Celebrating your hard work and giving out prizes!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
